<div class="m-3">
  <div class="container max-w-4xl m-auto">
    <h1 class="text-4xl font-bold mb-6">Edit Meetup</h1>
    <%= render partial: "form", locals: { meetup: meetup, days: days, areas: areas, slots_by_day_area: slots_by_day_area } %>
  </div>
</div>
