<div class="m-3">
  <div class="container max-w-4xl m-auto">
    <h1 class="text-4xl font-bold mb-3">Create a meetup</h1>
    <p class="mb-3 text-sm text-gray-600">After submitting your request, all meetups must be approved by a moderator before being displayed.</p>
    <p class="mb-3 text-sm text-gray-600">Your requested time and location slot will be held on the schedule until it is either approved or rejected by a moderator.</p>
    <p class="mb-3 text-sm text-gray-600">Please ensure that your meetup follows all of our <a href="https://www.offkaiexpo.com/activities/meetups" class="text-purple-600 hover:underline">meetup rules</a>.</p>
    <%= render partial: "form", locals: { meetup: meetup, days: days, areas: areas, slots_by_day_area: slots_by_day_area } %>
  </div>
</div>
